
.grid-container {
    display: inline-grid;
    background-color: #2196F3;
    padding: 10px;
    width: 35vw;
    height: 35vw;
  }

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 95%;
  height: 95%;
}

.grid-button {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

#under-grid{
  margin: 20px;
}

.settings{
  margin: 10px;
}

.check-draw-label{
  margin-right: 5px;
}

.selector-label{
  margin-left: 15px;
}
  
